// Fuentes
$fuente_principal: 'Outfit', sans-serif;

$font-size-paragraph: 18px;

// Tamaño de Media Queries
$telefono: 375px;
$tablet: 768px;
$desktop: 1440px;

// Colores
// Primary
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// Neutral
$very-dark-blue-mainBG: hsl(217, 54%, 11%);
$very-dark-blue-cardBG: hsl(216, 50%, 16%);
$very-dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

// Fuentes
$delgada: 300;
$regular : 400;
$semibold: 600;